# Pip packages for the canonical VampNet10 environment.
#
# Install after env/source-requirements.txt:
#   pip install -r env/pip-requirements.txt
argbind==0.3.7
audioread==3.0.0
descript-audio-codec==1.0.0
docstring-parser==0.15
einops==0.8.0
ffmpy==0.3.1
flatten-dict==0.4.2
future==0.18.3
gradio==3.48.0
importlib-resources==6.0.0
ipython==8.14.0
joblib==1.3.1
julius==0.2.7
librosa==0.10.0
llvmlite==0.40.1
loralib==0.1.1
markdown2==2.4.9
matplotlib==3.7.2
mido==1.3.0
mir-eval==0.7
numba==0.57.1
pandas==1.5.1
pillow==10.3.0
plotly==5.18.0
primePy==1.3
protobuf==3.19.6
pyloudnorm==0.1.1
pynndescent==0.5.11
pystoi==0.3.3
pytorch-lightning==2.0.5
pyyaml==6.0.1
randomname==0.2.1
rich==13.4.2
scikit-learn==1.3.0
soundfile==0.12.1
soxr==0.3.5
tensorboard==2.13.0
threadpoolctl==3.2.0
torch-pitch-shift==1.2.4
torch-stoi==0.1.2
torchmetrics==1.0.1
tqdm==4.65.0
umap-learn==0.5.5
